#cabecera{
    background-color: brown;
}
#menu{
    background-color: beige;
}
#carrusel{
    background-color: cadetblue;
}
#parrafo{
    background-color: coral;
}
#maps{
    background-color: chocolate;
}
#img1{background-color: blue;}
#img2{background-color: cornflowerblue;}
#img3{background-color: crimson;}
#pie{
    background-color: black;
    color: white;
}